<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/statics/css/bootstrap.min.css}" />
    <script th:src="@{/statics/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/statics/js/bootstrap.min.js}"></script>
    <title>查询书籍结果页面</title>
</head>
<body>
<div th:include="header :: copy"></div>

<table class="table table-bordered">
    <tr>
        <th>isbn</th>
        <th>书名</th>
        <th>作者</th>
        <th>库存数量</th>
        <th>借出数量</th>
        <th>分类</th>
        <th>出版社</th>
        <th>价格</th>
        <th>介绍</th>
        <th>图片</th>

        <!--<th>图片</th>-->
    </tr>
    <tr th:each="bookSearchList:${bookSearchList.list}">
        <td th:text="${bookSearchList.bisbn}">bisbn</td>
        <td th:text="${bookSearchList.bname}">bname</td>
        <td th:text="${bookSearchList.bwriter}">bwriter</td>
        <td th:text="${bookSearchList.bnumber}">bnumber</td>
        <td th:text="${bookSearchList.boutnumber}">boutnumber</td>
        <td th:text="${bookSearchList.bsort}">bsort</td>
        <td th:text="${bookSearchList.bpub}">bpub</td>
        <td th:text="${bookSearchList.bprice}">bprice</td>
        <td th:text="${bookSearchList.bintro}">bintro</td>
        <td><img th:src="@{${bookSearchList.bpic}}"></td>

        <!--<td th:text="${listbook.bpic}">bpic</td>-->
        <!--<td><img th:src="@{${bookSearchList.bpic}}"></td>-->
        <!--<td>< img th:src="@{${listBook.detail}}" height="100" width="100" alt="image"/></td>-->

    </tr>


</table>
<!--分页导航-->
<div class="col-md-12 column">
    <div class="col-md-4 column"></div>

    <ul class="pagination">
    <li><a th:href="@{/findBooks.do(pageNum=1,bsearch=${bsearch})}"><<</a></li>
    <li>
        <a th:if="${bookSearchList.isFirstPage}"
           th:href="@{/findBooks.do(pageNum=1,bsearch=${bsearch})}"> < </a>

        <a th:if="${!bookSearchList.isFirstPage}"
           th:href="@{/findBooks.do(pageNum=${bookSearchList.pageNum-1},bsearch=${bsearch})}"> < </a>
    </li>
    <li>
        <a><u th:if="${pageNum}==Null" th:text="1"></u><u th:if="${pageNum}!=Null" th:text="${pageNum}"></u></a>
    </li>
    <li>
        <a th:if="${bookSearchList.isLastPage}"
           th:href="@{/findBooks.do(pageNum=${totalPages},bsearch=${bsearch})}"> > </a>
        <a th:if="${!bookSearchList.isLastPage}"
           th:href="@{/findBooks.do(pageNum=${bookSearchList.pageNum+1},bsearch=${bsearch})}"> > </a>
    </li>
    <li><a th:href="@{/findBooks.do(pageNum=${totalPages},bsearch=${bsearch})}">>></a></li>
    <li>
        <a><u th:text="'共'+${totalPages}+'页'"></u></a>
    </li>
</ul>
<!--<div class="col-md-12 column">
    <div class="col-md-5 column"></div>

    <ul class="pagination">
        <li>
            <a th:href="@{/findBooks.do(pageNum=1,bsearch=${bsearch})}"><<</a>
        </li>
        <li>
            <a th:if="${bookSearchList.isFirstPage}"
               th:href="@{/findBooks.do(pageNum=1,bsearch=${bsearch})}"> < </a>

            <a th:if="${!bookSearchList.isFirstPage}"
               th:href="@{/findBooks.do(pageNum=${bookSearchList.pageNum-1},bsearch=${bsearch})}"> < </a>
        </li>

        <li>
            <a><u th:if="${pageNum}==Null" th:text="1"></u><u th:if="${pageNum}!=Null" th:text="${pageNum}"></u></a>
        </li>


        <li>
            <a th:if="${bookSearchList.isLastPage}"
               th:href="@{/findBooks.do(pageNum=${totalPages},bsearch=${bsearch})}">> </a>
            <a th:if="${!bookSearchList.isLastPage}"
               th:href="@{/findBooks.do(pageNum=${bookList.pageNum+1},bsearch=${bsearch})}"> > </a>
        </li>
        <li>
            <a th:href="@{/findBooks.do(pageNum=${totalPages},bsearch=${bsearch})}">>></a>
        </li>
        <li>
            <a><u th:text="'共'+${totalPages}+'页'"></u></a>
        </li>
    </ul></div>-->
</div>
</body>
</html>