<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/statics/css/bootstrap.min.css}" />
    <script th:src="@{/statics/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/statics/js/bootstrap.min.js}"></script>
    <title>管理员登录</title>
</head>
<body>
<div th:include="header :: copy"></div>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="col-md-2 column">
                你好，<a th:text="${mname}"></a>
                <div class="tabbable" id="tabs-318962">
                    <ul class="nav navbar-btn">
                        <li class="active">
                            <a href="#panel-1" data-toggle="tab"><button class="btn btn-default" type="submit">浏览图书</button></a>
                        </li>
                        <li>
                            <a href="#panel-2" data-toggle="tab"><button class="btn btn-default" type="submit">图书信息修改</button></a>
                        </li>
                        <li>
                            <a href="#panel-3" data-toggle="tab"><button class="btn btn-default" type="submit">读者密码修改</button></a>
                        </li>
                        <li>
                            <a href="#panel-4" data-toggle="tab"><button class="btn btn-default" type="submit">办理借阅</button></a>
                        </li>
                        <li>
                            <a href="#panel-5" data-toggle="tab"><button class="btn btn-default" type="submit">办理归还</button></a>
                        </li>
                        <li>
                            <a href="#panel-6" data-toggle="tab"><button class="btn btn-default" type="submit">读者查询</button></a>
                        </li>
                        <li>
                            <a href="/listBook.do"><button class="btn btn-default">退出登录</button></a>
                        </li>
                    </ul></div></div>


            <div class="tab-content col-md-8 column">
                <div class="tab-pane active" id="panel-1">
                    <!--增加图书信息模态框-->
                    <div>
                        <button id="modal-908961" href="#modal-container-908961" role="button" class="btn btn-default" data-toggle="modal">新增</button>
                        <div class="modal fade" id="modal-container-908961" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            图书增加页面
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            <form action="/book.do" method="post">
                                                <div class="col-xs-4">

                                        <p>isbn<input class="form-control" type="text" name="bisbn"></p>
                                        <p>书名<input class="form-control" type="text" name="bname"></p>
                                        <p>作者<input class="form-control" type="text" name="bwriter"></p>
                                        <p>数量<input class="form-control" type="text" name="bnumber"></p>
                                        <p>借出数量<input class="form-control" type="text" name="boutnumber" value="0"></p>

                                        <p>类别<input class="form-control" type="text" name="bsort"></p>
                                        <p>出版社<input class="form-control" type="text" name="bpub"></p>
                                        <p>价钱<input class="form-control" type="text" name="bprice"></p>
                                        <p>介绍<input class="form-control" type="text" name="bintro"></p>
                                        <!--<p>图片<input type="file" name="bpic"></p>-->
                                        <p><input class="btn btn-default" type="submit" value="增加图书信息"/></p>
                                    </div>
                                    </form>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                        <table class="table table-bordered">
                            <tr>
                                <th>isbn</th>
                                <th>书名</th>
                                <th>作者</th>
                                <th>库存数量</th>
                                <th>借出数量</th>
                                <th>分类</th>
                                <th>出版社</th>
                                <th>价格</th>
                                <th>介绍</th>
                                <th>删除</th>
                                <!--<th>图片</th>-->

                                <!--<th>图片</th>-->
                            </tr>
                            <tr th:each="bookList:${bookList.list}"><!--listbook随便命名-->
                                <td th:text="${bookList.bisbn}">bisbn</td>
                                <td th:text="${bookList.bname}">bname</td>
                                <td th:text="${bookList.bwriter}">bwriter</td>
                                <td th:text="${bookList.bnumber}">bnumber</td>
                                <td th:text="${bookList.boutnumber}">boutnumber</td>
                                <td th:text="${bookList.bsort}">bsort</td>
                                <td th:text="${bookList.bpub}">bpub</td>
                                <td th:text="${bookList.bprice}">bprice</td>
                                <td th:text="${bookList.bintro}">bintro</td>
                                <!--图书修改模态框-->


                                <td>
                                    <a th:href="@{delete.do(bIsbn=${bookList.bisbn})}">删除</a>
                                </td>

                                <!--<td th:text="${listbook.bpic}">bpic</td>-->

                                <!--<td>< img th:src="@{${listBook.detail}}" height="100" width="100" alt="image"/></td>-->

                            </tr>
                           <!-- &lt;!&ndash;分页导航&ndash;&gt;
                            <tr>
                                <td><a th:href="@{/listBook_reader.do?pageNum=1}">首页</a></td>
                                <td th:switch="${pageNum}">
                                    <p th:case="1"> <a th:href="@{/listBook_reader.do?pageNum=1}">上一页</a></p>
                                    <p th:case="*"><a th:href="@{/listBook_reader.do(pageNum=${pageNum-1})}">上一页</a></p>
                                </td>
                                <td th:switch="${pageNum}">
                                    <p th:case="${totalPages}"><a th:href="@{/listBook_reader.do(pageNum=${totalPages})}">下一页</a></p>
                                    <p th:case="*"><a th:href="@{/listBook_reader.do(pageNum=${pageNum+1})}">下一页</a></p>
                                </td>
                                <td><a th:href="@{/listBook_reader.do(pageNum=${totalPages})}">尾页</a></td>
                            </tr>-->
                            <!--分页导航-->
                            <tr>
                                <td><a th:href="@{/listBook_manager.do?pageNum=1}">首页</a></td>
                                <td>
                                    <a th:if="${bookList.isFirstPage}"
                                       th:href="@{/listBook_manager.do(pageNum=1)}">上一页</a>

                                    <a th:if="${!bookList.isFirstPage}"
                                       th:href="@{/listBook_manager.do(pageNum=${bookList.pageNum-1})}">上一页</a>
                                </td>
                                <td>
                                    <a th:if="${bookList.isLastPage}"
                                       th:href="@{/listBook_manager.do(pageNum=${totalPages})}">下一页</a>
                                    <a th:if="${!bookList.isLastPage}"
                                       th:href="@{/listBook_manager.do(pageNum=${bookList.pageNum+1})}">下一页</a>
                                </td>
                                <td><a th:href="@{/listBook_manager.do(pageNum=${totalPages})}">尾页</a></td>
                            </tr>
                        </table>

            </div>
                <div class="tab-pane" id="panel-2">
                    <p>
                        <form action="/updateBook.do" method="post">
                            <div class="col-xs-4">
                    <p>isbn<input class="form-control" type="text" name="bisbn"></p>
                    <p>书名<input class="form-control" type="text" name="bname"></p>
                    <p>作者<input class="form-control" type="text" name="bwriter"></p>
                    <p>数量<input class="form-control" type="text" name="bnumber"></p>
                    <p>借出数量<input class="form-control" type="text" name="boutnumber"></p>

                    <p>类别<input class="form-control" type="text" name="bsort"></p>
                    <p>出版社<input class="form-control" type="text" name="bpub"></p>
                    <p>价钱<input class="form-control" type="text" name="bprice"></p>
                    <p>介绍<input class="form-control" type="text" name="bintro"></p>
                    <!--<p>图片<input type="file" name="bpic"></p>-->
                    <p><input class="btn btn-default" type="submit" value="修改图书信息"/></p>
                </div>
                    </form>
                    </p>
                </div>
                <div class="tab-pane" id="panel-3">
                    <p>
                        <form action="/updateReaderPassword.do" method="post">
                            <div class="col-xs-4">
                    <p>账号<input class="form-control" type="text" name="rname" placeholder="根据读者账号修改密码"></p>
                    <p>密码<input class="form-control" type="text" name="rpwd"></p>

                    <button class="btn btn-default" type="submit">更改读者密码</button>
                </div>
                </form>
                    </p>
                </div>
                <div class="tab-pane" id="panel-4">
                        <form action="/record.do" method="get">
                            <div class="col-xs-4">
                                <p>图书isbn<input class="form-control" name="bisbn"></p>
                                <p> 读者id<input class="form-control" name="rname"></p>
                                <button class="btn btn-default" type="submit" value="办理借阅">办理借阅</button>
                            </div>
                </form>

                </div>
                <div class="tab-pane" id="panel-5"><!--查询读者借阅记录-->
                    <p>
                    <form action="/fineReaderRecord.do" method="post">
                        <div class="col-xs-4">

                            <input class="form-control" name="rName" placeholder="根据读者账号查看是否有罚金">
                            <button class="btn btn-default" type="submit">查询</button>
                        </div>
                    </form>
                    </p>
                </div>
                <div class="tab-pane" id="panel-6">
                    <p>
                        <form action="/fineReader.do" method="post">
                    <div class="col-xs-4">

                    <input class="form-control" name="rname" placeholder="根据读者账号查询">
                    <button class="btn btn-default" type="submit">查询</button>
                    </div>
                </form>
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
</html>