<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/statics/css/bootstrap.min.css}" />
    <script th:src="@{/statics/js/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/statics/js/bootstrap.min.js}"></script>
    <title>读者页面</title>
</head>
<body>
<div th:include="header :: copy"></div>

<div class="col-md-12 column">
    <div class="col-md-2 column" th:include="reader_left :: copy">
    </div>
    <div class="col-md-8 column">
            <li>浏览图书：
                <table class="table table-bordered">
                    <tr>
                        <th>isbn</th>
                        <th>书名</th>
                        <th>作者</th>
                        <th>库存数量</th>
                        <th>借出数量</th>
                        <th>分类</th>
                        <th>出版社</th>
                        <th>价格</th>
                        <th>介绍</th>
                        <!--<th>图片</th>-->

                        <!--<th>图片</th>-->
                    </tr>
                    <tr th:each="bookList:${bookList.list}"><!--前bookList随便命名-->
                        <td th:text="${bookList.bisbn}">bisbn</td>
                        <td th:text="${bookList.bname}">bname</td>
                        <td th:text="${bookList.bwriter}">bwriter</td>
                        <td th:text="${bookList.bnumber}">bnumber</td>
                        <td th:text="${bookList.boutnumber}">boutnumber</td>
                        <td th:text="${bookList.bsort}">bsort</td>
                        <td th:text="${bookList.bpub}">bpub</td>
                        <td th:text="${bookList.bprice}">bprice</td>
                        <td th:text="${bookList.bintro}">bintro</td>
                        <!--<td th:text="${bookList.bpic}">bpic</td>-->

                        <!--<td>< img th:src="@{${bookList.detail}}" height="100" width="100" alt="image"/></td>-->

                    </tr>
                    <!--分页导航-->
                   <!-- <tr>
                        <td><a th:href="@{/reader_listbook.do?pageNum=1}">首页</a></td>
                        <td>
                            <a th:if="${bookList.isFirstPage}"
                               th:href="@{/reader_listbook.do(pageNum=1)}">上一页</a>

                            <a th:if="${!bookList.isFirstPage}"
                               th:href="@{/reader_listbook.do(pageNum=${bookList.pageNum-1})}">上一页</a>
                        </td>
                        <td>
                            <a th:if="${bookList.isLastPage}"
                               th:href="@{/reader_listbook.do(pageNum=${totalPages})}">下一页</a>
                            <a th:if="${!bookList.isLastPage}"
                               th:href="@{/reader_listbook.do(pageNum=${bookList.pageNum+1})}">下一页</a>
                        </td>
                        <td><a th:href="@{/reader_listbook.do(pageNum=${totalPages})}">尾页</a></td>
                    </tr>-->

                </table>
            </li>
    </div>
</div>
</body>
</html>